<%= simple_form_for([@user, @blog]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.input :topics %>
  </div>

  <div class="form-actions">
    <%= f.submit "Save as Draft", class: "btn btn-lg btn-success" %>
    <%= f.button :submit %>
  </div>

<% end %>
