<h1>Listing blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Topics</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.body %></td>
        <td><%= blog.topics %></td>
        <td><%= link_to 'Show', [@user, blog] %></td>
        <td><%= link_to 'Edit', edit_user_blog_path(@user, blog) %></td>
        <td><%= link_to 'Destroy', [@user, blog], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_user_blog_path %>
<%= debug current_user %>