<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <p><%= @blog.title %></p>
</p>

<p>
  <strong>Body:</strong>
  <p><%= @blog.body %></p>
</p>

<p>
  <strong>Topics:</strong>
  <p><%= @blog.topics %></p>
</p>

<p>
  <strong>Date:</strong>
  <p><%= @blog.published_at %></p>
</p>

<%= link_to 'Edit', edit_user_blog_path(@user, @blog) %> |
<%= link_to 'Back', user_blogs_path %>
