<% provide(:title, "Your Profile") %>

<%= current_user.email %>

<p>
<%= link_to "Invite Your Friend", new_user_invitation_path %>
</p>

<%= render 'shared/goals_form' %>

<% if current_user.goals.any? %>
  <h1>Your Goals (<%= current_user.goals.count %>)</h1>
  <%= render @user.goals %>
<% end %>
