<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Better Together" %></title
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Better Together" %>">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
        <% flash.each do |key, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{key}") %>
        <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
